<div class="row">
<div class="col-sm-6 mt-4 col-md-6 col-lg-6" *ngFor="let comercio of comercios">
    <div class="card text-center">
        <div class="card-header">
            <h1>{{comercio.razon}}</h1>
        </div>
        <div class="card-body">
        <h5 class="card-title">{{comercio.domicilio}}</h5>
        <p class="card-text">CUIT: {{comercio.cuit}}</p>
        <div class="row">
            <div class="col col-sm-6">
                <a [routerLink]="[{ outlets: { panel: ['minegocio',comercio.id_comercio]}}]" class="btn verde text-white">Editar Carta</a>
            </div>
            <div class="col col-sm-6">
                <a [routerLink]="[{ outlets: { panel: ['lista-pedidos',comercio.id_comercio]}}]" class="btn verde text-white">Ver Pedidos</a>
            </div>
        </div>
        </div>
    </div>
</div>
</div>